.notFound {
    text-align: center;
    width: 100vw;
    margin-top: 20px;
    left: 0;
}

.notFound__img {
    height: 100%;
}

.notFound__text {
    margin-top: 20px;
    color: white;
    font-size: 50px;
}

@media screen and (max-width: 981px) {
    .notFound__img {
        width: 80vw;
    }
}